 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
        }
text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

input {
  margin: 0 7px;
}

.tooltip {
 position: absolute;			
 text-align: center;			
 /*width: 200px;		*/			
 /*height: 60px;	*/
 min-width: 150px;				
 padding: 2px;				
 font: 12px sans-serif;		
 background: lightsteelblue;	
 border: 0px;		
 border-radius: 8px;			
 pointer-events: none;		
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.arc path {
  stroke: #fff;
}