body {
  fontfamily: sans-serif;
  color: #000000;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

.dot {
  opacity: .6;
}

text {
    stroke: black;
    stroke-width: 0.5px;
    fill: #000000;
    font-size: .7em;
    font-family:sans-serif;
}

.label {
    fill: "black";
}

div.tooltip {

    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 60px;					
    padding: 2px;				
    font: 10px sans-serif;		
    background: yellow;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    
}